:root {
  --regular: 'exo2regular';
  --light: 'exo2light';

  --color-azul: #263659;
  --color-laranja-1: #E57817;
  --color-laranja-2: #E56917;
  --color-laranja-3: #EF9457;
  --color-azul-claro-1: #A5A5A5;
  --color-azul-claro-2: #AEAEAE;
}

.btn {
  color: white !important;
}

.btn:hover {
  background-color: var(--color-laranja-3);
  transition-duration: 5ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}

.transition button {
  transition: opacity 170ms ease-in-out,background-color 350ms ease-in-out,color 350ms ease-in-out;
}
.transition button:hover {
  transition: opacity 170ms ease-in-out,background-color 350ms ease-in-out,color 350ms ease-in-out;
}

body{
  font-family: var(--regular);
}